{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        {% include 'includes/alerts.html' %}
        <div class="row">
            {% include 'includes/dashboard-sidebar.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Change Your Password</strong>
                    </header>
                    <div class="card-body">
                        <form action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="current_password">Enter Current Password</label>
                                            <input type="password" name="current_password" id="current_password"
                                                class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="password">Enter New Password</label>
                                            <input type="password" name="new_password" id="password"
                                                class="form-control" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="confirm_password">Confirm New Password</label>
                                            <input type="password" name="confirm_password" id="confirm_password"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary">Update Password</button>
                                    </div>
                                </div>
                            </div> <!-- row.// -->
                        </form><!-- form .// -->
                    </div> <!-- card-body .// -->
                </article> <!-- order-group.// -->
            </main>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}