{% extends "base.html" %} 
{% load static %} 

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->
  <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
      <div class="card-body">
        {% include 'includes/alerts.html' %}
        <h4 class="card-title mb-4">Forgot Password</h4>
        <form action="{% url 'forgotPassword' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Email Address"
              name="email"
              required
            />
          </div>
          <!-- form-group form-check .// -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Forgot Password</button>
          </div>
          <!-- form-group// -->
        </form>
      </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->

  <p class="text-center mt-4">Already have password? <a href="{% url 'login' %}">Login</a></p>
  <p class="text-center">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
  <br /><br />
  <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
