<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <title>Order Confirmation</title>
    </head>

    <body>
        <h2>Thank You For Your Order</h2>

        <p>Hi {{ user.first_name }} {{user.last_name}},</p>

        <p>Your order has been received successfully.</p>

        <p>
            Order Number:
            <strong>{{ order.order_number }}</strong>
        </p>

        <p>
            Amount Paid:
            <strong>${{ order.order_total }}</strong>
        </p>
    </body>

    </html>
</body>

</html>